/*
* Css for desktop
*/
body p{
    margin-bottom: 8px;
}
header.l-header{
    background-color:#000000 ;

}
.header-content{
    padding: 10px;
}
/*search form*/
#search-block-form .button.form-submit
{
    background: url(../images/btsearch.png) no-repeat;
    cursor:pointer;
    border: none;
    font-size: 0px;
    margin: 0;
    padding: 0;
    width: 55%;
}
#search-block-form .form-item-search-block-form input
{
    margin: 1px 0 0rem 0;
    padding: 0.5rem;
    height: 2.2325rem;
}
section.block-search-form{
    width: 65%;
    vertical-align: middle;
    margin-top: 37px;
}
/*hotline*/
.block-block-1{
    float: right;
    margin-top: -52px;
}
.hotline-header .label-hotline{
    background: url(../images/phone-icon.jpg) no-repeat left center;
    padding-left: 40px;
    color: #777760;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.hotline-header .hotline-number{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}
/*menu navigation*/
section.l-featured{
    background-color: #fc0606;
}
.block-menu-menu-primary-menu ul{
    margin: 0px;
}
.block-menu-menu-primary-menu ul.menu li{
    float: left;
    vertical-align: middle;
    padding: 15px 30px;
    list-style: none;
    border-right: 1px solid #fff;
}
.block-menu-menu-primary-menu ul.menu li.active, .block-menu-menu-primary-menu ul.menu li.active-hover{
    background-color: #383838;

}
.block-menu-menu-primary-menu ul.menu li:first-child{
    border-left: 1px solid #fff;
}
.block-menu-menu-primary-menu ul.menu li a{
    color:#ffffff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

/*side bar menu*/
.sidebar-first .block-menu-block-1{
    margin-top: 20px;
}
.sidebar-first .menu-name-main-menu ul.menu{
    margin: 0;
}
.sidebar-first .menu-name-main-menu ul.menu li ul{
    background: #f5f5f5;
}
.sidebar-first .menu-name-main-menu ul.menu li{
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
    clear: left;

}



.sidebar-first .menu-name-main-menu ul.menu li div.parent-item{
    border-right: 1px solid #e2e0e0;
    border-bottom: 1px solid #e2e0e0;
    border-top: 1px solid #e2e0e0;
    border-left: 5px solid #fc0606;
    padding: 10px 3px 10px 10px;
    list-style: none;

}
.sidebar-first .menu-name-main-menu ul.menu li.expanded div.parent-item{
    background: url(../images/arrow_down.jpg) no-repeat 98% center;
}

.sidebar-first .menu-name-main-menu ul.menu li ul li div.parent-item,
.sidebar-first .menu-name-main-menu ul.menu li.expanded ul li div.parent-item{
    border: none;
    background: none;
}

.sidebar-first .menu-name-main-menu ul.menu li a{
    color:#000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.sidebar-first .menu-name-main-menu ul.menu li a:hover,
.sidebar-first .menu-name-main-menu ul.menu li a.active,
.sidebar-first .menu-name-main-menu ul.menu li a.active-trail{
    color:#d70404;
}
.sidebar-first .menu-name-main-menu ul.menu li ul li{
    margin: 0;
    padding: 0;
}
.sidebar-first .menu-name-main-menu ul.menu li ul li div.parent-item{
    margin: 0;
    padding: 0;
}
.sidebar-first .menu-name-main-menu ul.menu li ul{
    margin-top: 10px;
}
.sidebar-first .menu-name-main-menu ul.menu li ul li{
    list-style-type: square;
    margin-left: 30px;
}
.sidebar-first .menu-name-main-menu ul.menu li ul li a{
    color: #000;
    font-size: 12px;
    font-weight: normal;
    text-transform: inherit;
}
.sidebar-first .menu-name-main-menu ul.menu li ul li a:hover, .sidebar-first .menu-name-main-menu ul.menu li ul li a.active{
    color:#d70404;
}

/*block tieu bieu*/
h2.block-title{
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    background: #ededed;
    width: 100%;
    clear: both;
    padding: 5px 5px 5px 10px;
    margin-bottom: 20px;
}
.views-field-field-images{
    height: 180px;
    border-left: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-bottom: 5px solid #fc0606;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10px;
}
.views-field-title{
    text-align: center;
    margin-bottom: 20px;
}
.views-field-title a{
    color: #000;
}

.views-field-title a:hover{
    color: #fc0606;
}

.product-lists{
    margin-bottom: 20px;
    height: 260px;
}
.product-lists:last-child{
    float: left!important;
}
section.block-views{
    clear:both;
}
.breadcrumbs{
    margin-top: 20px;
}
.node-type-product h1#page-title{
    display: none; 
}
.product-detail-info{
    margin-top: 40px;
}
.node-type-product h4 {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    background: #ededed;
    width: 100%;
    clear: both;
    padding: 5px 5px 5px 10px;
    margin-bottom: 20px;
}
.title-product h3{
    color: #d70404;
    width: 100%;
    clear: both;

}
.product-detail-intro label{
    width: 30%;
    float: left;
    font-weight: bold;
}

/*Footer*/
footer{
    clear: both;
}
.footer ul.menu{
    margin: -12px 0 0 20px;
}
.footer ul.menu li.last{
    border: none;
}
.footer ul.menu li{
    float:left;
    padding: 0 10px;
    list-style: none;
}
.footer ul.menu li a{
    color:#949191; 
}
/*pager*/
.pagination-centered{
    clear:both;
}
/*banner*/
.l-banner{
    margin-top: 20px;
    margin-bottom: 10px;
}
.highlight{
    background: none!important;
    border: none!important;
}
section.block-block-2{
    float: right;
    font-size: 12px;
    color:#949191;
    margin-top: 5px;
}
.cloud-zoom-gallery-thumbs{
    margin-top: 10px;
}
.cloud-zoom-gallery-thumbs a{
    margin-right: 5px;
}
.cloud-zoom-gallery-thumbs a img{
    border:  1px solid #ececec;
    width: 102px;
    height: 74px;
    margin-bottom: 10px;
}
.view-category-home .views-field-field-image {
    height: 180px;
    border-left: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-bottom: 5px solid #fc0606;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10px;
}
.view-category-home .views-field-name {
    text-align: center;
    margin-bottom: 20px;
}
.view-category-home .views-field-name a {
    color: #000;
}
.view-category-home .views-field-name a:hover {
    color: #fc0606;
}
.cloud-zoom-container #wrap{
    border: 1px solid #ececec;
}
/*
* Css for tablet
*/
@media only screen and (min-width:768px) and (max-width:1024px){
    section.block-search-form{
        margin-top: 20px;
    }
    .block-menu-menu-primary-menu ul.menu li a {
        font-size: 13px;
    }
    section.block-block-2{
        float: right;
        font-size: 10px;
        color:#949191;
        margin-top: 5px;

    }
    .sidebar-first .menu-name-main-menu ul.menu li a {
        color: #000;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .breadcrumbs{
        display: none;
    }
}

/*
* Css for mobile
*/
@media only screen and (max-width:767px){
    section.block-search-form{
        margin-top: 20px;
    }
    .block-menu-menu-primary-menu ul.menu li {
        padding: 10px 5px;
    }
    .block-menu-menu-primary-menu ul.menu li a {
        font-size: 9px;
    }
    .sidebar-first .menu-name-main-menu{
        display: none;
    }
    .block-menu-menu-primary-menu ul.menu li {
        padding: 2px 5px;
    }
    .views-field-title {
        margin-bottom: 5px;
    }
    .product-lists {
        margin-bottom: 10px;
        height: 260px;
    }
    .embedded-video iframe{
        height: 320px!important;
    }
    .footer ul.menu li {
        float: left;
        padding: 0 3px;
        list-style: none;
    }
    .footer ul.menu li a {
        color: #949191;
        font-size: 10px;
    }
    .breadcrumbs{
        display: none;
    }
    section.block-block-2{
        display: none;
    }

}